@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Raleway:wght@100&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Nunito', sans-serif;
font-size: 20px;
}

body{
background-color: #ebebed;
}

.header{
background-color: #1b3039;
display: flex;
justify-content: flex-end;
align-items: center;
/*barra*/
height: 85px;
padding: 5px 10%;
}

.header .logo{
cursor: pointer;
margin-right: auto;
}


.header .logo img{
height: 70px;
width: auto;
transition: all 0.3s;
}

/*tamaño ampliacion logo*/
.header .logo img:hover{
transform: scale(1.2);
}

.header .nav-list{
list-style: none;
}

.header .nav-list li{
display: inline-block;
padding: 0 20px;
}

.header .nav-list li:hover,
.overlay a:hover{
transform: scale(1.1);
}
.header .nav-list a{
font-size: 700;
color: #eceff1;
}

.header .nav-list li a:hover{
color: blue;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
margin-left: 20px;
font-weight: 700;
color: #1b3039;
padding: 9px 25px;
background: #eceff1;
border: #1b3039;
border-radius: 50px;
cursor: pointer;
transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
background-color: #e2e2e2;
color: yellow;
transform: scale(1.1);
}

@media screen and (max-width:800px){
.nav-list, .btn{
    display: none;
}

.menu{
display: inherit;
}
}

/*Nav*/

.header a{
text-decoration: none;
}

.header .overlay{
height: 100%;
width: 0;
position: fixed;
z-index: 1;
left: 0;
top: 0;
background-color: rgba(33, 49, 63, .95);
overflow: hidden;
transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
display: flex;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
}

.header .overlay a{
padding: 15px;
font-size: 36px;
display: block;
transition: all 0.3s ease 0s;
font-weight: 700;
color: #eceff1;
}

.header .overlay a.hover,
.header .overlay a:focus{
color: yellow;
}

/*Boton X*/
.header .overlay .close{
position:absolute ;
top: 20px;
right: 45px;
font-size: 65px ;

}


@media sreen and (max-height:450px){
.header .overlay a{
    font-size: 20px;
}

.header .overlay .close{
    font-size: 40px;
    top: 15px;
    right: 35px;
}
}


/*-----------------------SLIDER AUTOMATICO-------------------------*/


.slider-frame{
width: 1280px;
height: auto;
margin: 50px auto 0;
overflow: hidden;


}

.slider-frame ul{
display: flex;
padding: 0;
width: 400%;
animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li{
list-style: none;
width: 100%;

}

.slider-frame img{
width: 100%;
}

@keyframes slide {
0% {margin-left: 0%;}
20% {margin-left: 0%;}

25% {margin-left: -100%;}
45% {margin-left: -100%;}

50% {margin-left: -200%;}
70% {margin-left: -200%;}

75% {margin-left: -300%;}
95% {margin-left: -300%;}
}


/*---------------------ANUNCIO----------------------*/

.container{
display: flex;
justify-content: center;
}

.columna{
background-color: white;
padding: 35px;
margin: 20 5px;
margin-top: 80px;
margin-block: 60px;
margin-bottom: 5px;
height: 110px;


}

/*--------------------CARRO DE COMPRAS--------------*/


.h1 {
font-family: 'Montserrat', sans-serif;
text-align: center;
margin: 30px 10px;
}

.ofertas{
padding: 30px;
text-align: left;
margin-left: 59px;
}


img{
width: 320px;
height: 340px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;
}

.header_compras{
display: flex;
align-items: center;
justify-content: center;
gap: 15%;
height: 70px;
top: 0;
position: fixed;
width: 100%;
}


.carrito{
filter: invert(100%);
width: 45px;
height: auto;
}
.contenedor{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 50px;
margin-bottom: 20px;
}

.contenedor>div{
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .75);
background-color: #2D4263;
border-radius: 20px;

}

.contenedor>div:hover{
background-color: #11294d;
}

.informacion{
height: 150px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 15px;
}

.informacion p:first-child{
font-family: 'Monstserrat', sans-serif;
font-size: 25px;
font-weight: 300;
}

.informacion .precio{
font-size: 20px;
font-weight: 500;
}

.informacion .precio span{
font-size: 17px;
font-weight: 300;
}

.informacion button{
background-color: #263143;
width: 100px;
height: 35px;
border-radius: 10px;
border: none;

font-size: 17px;
font-weight: 300;
cursor: pointer;
}

.informacion button:hover{
background-color: #2D4263;
}


/*-------------PROMOCIONAL----------------*/

.promocional{
display: flex;

}








/*----------------FOOTER----------------*/

.conteneder_footer{
max-width: 1200px;
margin: 0 auto;
}

.footer{
background-color: #24262B;
padding: 80px 0;
}

.footer-row{
display: flex;
flex-wrap: wrap;
}

.footer-links{
width: 25%;
padding: 0 15px;
}

.footer-links h4{
font-size: 20px;
color: white;
margin-bottom: 25px;
font-weight: 500;
border-bottom: 2px solid aqua;
padding-bottom: 10px;
display: inline-block;

}

.footer-links ul li a{
font-size: 18px;
text-decoration: none;
color: #BBBBBB;
display: block;
margin-top: 15px;
transition:  all .3s ease;
}

.footer-links ul li a:hover{
color: white;
padding-left: 6px;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }

    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}